.config/dconf
.config/mimeapps.list
.config/QtProject.conf
.config/chromium
.config/flameshot
.config/helm
.config/neofetch
.config/nitrogen
.config/pulse
.config/Slack
.config/syncthing
.config/VirtualBox
.config/.emacs.d
